.dropdown {
    display: grid;
    height: 100%;
    width: 100%;

}

#dropdownMenuButton {
    height: 100%;
    width: 100%;
    justify-content: start;
    display: inline-flex;
}

.img {
    height: 175px;
    width: 175px;
    border-radius: 50%;
}

.perfil-nav {
    height: 35px;
    width: 35px;
}

.navbar {
    background-color: #80002b;
}

.fondo_body {
    background-color: #181818;
}

.fondo_pag {
    background-color: rgba(0, 0, 0, 0.3);
}

.borde {
    border-color: rgba(255, 255, 255, 0.1) !important;
}

.list-group-item {
    background-color: rgba(0, 0, 0, 0);
    border-color: rgba(255, 255, 255, 0.2);
    color: white;
}

.contenido {
    min-height: 1000px;
}